VB-NET-BBSR-Webservice/BBSR-Webservice/Connected Services/ServiceReferenceSandbox/DibtEnergieAusweisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService">
      <s:element name="Datenregistratur">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatenregistraturResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatenregistraturResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZusatzdatenErfassung">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ausweisnummer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwort" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZusatzdatenErfassungResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZusatzdatenErfassungResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Restkontingent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Passwort" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestkontingentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RestkontingentResult" type="tns:AntwortRestkontingent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AntwortRestkontingent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Kontingent" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fehler" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OffeneKontrolldateien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Passwort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NurPersonenbezogeneAusweiseErmitteln" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OffeneKontrolldateienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OffeneKontrolldateienResult" type="tns:AntwortOffeneKontrolldateien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AntwortOffeneKontrolldateien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ausweise" type="tns:ArrayOfAusweis" />
          <s:element minOccurs="0" maxOccurs="1" name="Fehler" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAusweis">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ausweis" nillable="true" type="tns:Ausweis" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ausweis">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Registriernummer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Aussteller" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NummerErzeugtAm" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="KontrolldateiPruefen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Passwort" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ausweisnummer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kontrolldatei">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="Schemapruefung" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Inhaltpruefung" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KontrolldateiPruefenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KontrolldateiPruefenResult" type="tns:Evaluation_Result_List" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Evaluation_Result_List">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Evaluation_List" type="tns:ArrayOfEvaluation_Result" />
          <s:element minOccurs="1" maxOccurs="1" name="Errors_detected" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEvaluation_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Evaluation_Result" nillable="true" type="tns:Evaluation_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Evaluation_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckOn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error_Warning" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TagPath" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DatenregistraturSoapIn">
    <wsdl:part name="parameters" element="tns:Datenregistratur" />
  </wsdl:message>
  <wsdl:message name="DatenregistraturSoapOut">
    <wsdl:part name="parameters" element="tns:DatenregistraturResponse" />
  </wsdl:message>
  <wsdl:message name="ZusatzdatenErfassungSoapIn">
    <wsdl:part name="parameters" element="tns:ZusatzdatenErfassung" />
  </wsdl:message>
  <wsdl:message name="ZusatzdatenErfassungSoapOut">
    <wsdl:part name="parameters" element="tns:ZusatzdatenErfassungResponse" />
  </wsdl:message>
  <wsdl:message name="RestkontingentSoapIn">
    <wsdl:part name="parameters" element="tns:Restkontingent" />
  </wsdl:message>
  <wsdl:message name="RestkontingentSoapOut">
    <wsdl:part name="parameters" element="tns:RestkontingentResponse" />
  </wsdl:message>
  <wsdl:message name="OffeneKontrolldateienSoapIn">
    <wsdl:part name="parameters" element="tns:OffeneKontrolldateien" />
  </wsdl:message>
  <wsdl:message name="OffeneKontrolldateienSoapOut">
    <wsdl:part name="parameters" element="tns:OffeneKontrolldateienResponse" />
  </wsdl:message>
  <wsdl:message name="KontrolldateiPruefenSoapIn">
    <wsdl:part name="parameters" element="tns:KontrolldateiPruefen" />
  </wsdl:message>
  <wsdl:message name="KontrolldateiPruefenSoapOut">
    <wsdl:part name="parameters" element="tns:KontrolldateiPruefenResponse" />
  </wsdl:message>
  <wsdl:portType name="DibtEnergieAusweisServiceSoap">
    <wsdl:operation name="Datenregistratur">
      <wsdl:input message="tns:DatenregistraturSoapIn" />
      <wsdl:output message="tns:DatenregistraturSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZusatzdatenErfassung">
      <wsdl:input message="tns:ZusatzdatenErfassungSoapIn" />
      <wsdl:output message="tns:ZusatzdatenErfassungSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Restkontingent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Vorhandenes Restkontingent ermitteln</wsdl:documentation>
      <wsdl:input message="tns:RestkontingentSoapIn" />
      <wsdl:output message="tns:RestkontingentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OffeneKontrolldateien">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liste der Registriernummern mit noch offenen Kontrolldateianforderungen ermitteln</wsdl:documentation>
      <wsdl:input message="tns:OffeneKontrolldateienSoapIn" />
      <wsdl:output message="tns:OffeneKontrolldateienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KontrolldateiPruefen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Kontrolldatei auswerten.</wsdl:documentation>
      <wsdl:input message="tns:KontrolldateiPruefenSoapIn" />
      <wsdl:output message="tns:KontrolldateiPruefenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DibtEnergieAusweisServiceSoap" type="tns:DibtEnergieAusweisServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Datenregistratur">
      <soap:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/Datenregistratur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZusatzdatenErfassung">
      <soap:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/ZusatzdatenErfassung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restkontingent">
      <soap:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/Restkontingent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OffeneKontrolldateien">
      <soap:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/OffeneKontrolldateien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KontrolldateiPruefen">
      <soap:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/KontrolldateiPruefen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DibtEnergieAusweisServiceSoap12" type="tns:DibtEnergieAusweisServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Datenregistratur">
      <soap12:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/Datenregistratur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZusatzdatenErfassung">
      <soap12:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/ZusatzdatenErfassung" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restkontingent">
      <soap12:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/Restkontingent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OffeneKontrolldateien">
      <soap12:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/OffeneKontrolldateien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KontrolldateiPruefen">
      <soap12:operation soapAction="http://energieausweis.dibt.de/WebServiceEnergie/DibtEnergieAusweisService/KontrolldateiPruefen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DibtEnergieAusweisService">
    <wsdl:port name="DibtEnergieAusweisServiceSoap" binding="tns:DibtEnergieAusweisServiceSoap">
      <soap:address location="https://energieausweis.dibt.de/sandbox/WebServiceEnergieausweis/DibtEnergieAusweisService.asmx" />
    </wsdl:port>
    <wsdl:port name="DibtEnergieAusweisServiceSoap12" binding="tns:DibtEnergieAusweisServiceSoap12">
      <soap12:address location="https://energieausweis.dibt.de/sandbox/WebServiceEnergieausweis/DibtEnergieAusweisService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>